@import 'varibles';
@import 'fonts';

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

$font-stack: Futura, "Trebuchet MS", Arial, sans-serif;

// Colors
$green:#299883;
$black:#333a38;
$white:#fff;


body {
  font: 100% $font-stack;
  color: $black;
}
//
//Typography
h1,
.js-toggle.button,
.sort {
	text-transform: uppercase;
	font-size: 22px;
	line-height: 20px;
	display: inline-block;

	.logo {
		vertical-align: -60%;
		margin-right: 10px;
	}
}



h2 {
	font-size: 20px;
	color: $white;
	margin: 0 0 20px;
	font-weight: normal;
}
//
.container {
	width: 100%;
	border-collapse: collapse;
	position: relative;
	margin: auto;
	background-color: white;
	border-top: 20px solid $black;

	.header{
		width: 100%;
		margin: 0 auto;
		padding: 1% 0 0;

		h1 {
			margin-right: 18%;
		}

		small {
			margin: 0 70px 20px 0;

			&.sort {
				margin-right:0;
			}
		}

		.green-circle {
			border-radius: 50%;
			width: 28px;
			height: 28px;
			background-color: $green;
			display: inline-block;
			vertical-align: -2px;
			text-align: center;
			color: $white;
			font-size: 26px;
			padding-top: 4px;
			margin-right: 5px;
			&.minus {
				padding-top: 0;
				vertical-align: 2px;
			}
			&.icon-filter {
				font-size: 20px;
			}
		}

		nav {
			padding: 0;
			width:960px;
			margin:0 auto;
		}
	}

	.form, .filter {
		background-color: $black;
		padding: 20px 0;
		border: 3px #bdc0bf solid;
		border-width:3px 0 3px 0;


		table {
			width: 100%;
		}

		label {
			color: $white;
		}

		td {
			padding-bottom: 10px;
		}

		td:first-child,
		.first {
			width: 12%;
		}

		input[type="submit"]{
			border: 0;
			background-color: $green;
			color: $white;
			padding: 10px 50px;
			outline: none;
		}

		select {
			width: 40%;
		}

		input[type="text"] {
			margin-right: 100px;
		}

		.save {
			vertical-align: bottom;
		}
	}

	.filter {

		td:first-child,
		.first {
			width:90%;

			.filter-input {
				width: 700px;
				height: 40px;
				padding: 10px;
			}
		}

		.suggestions {
			position: absolute;
			z-index: 10;
			margin-top: 5px;
			background: $lightgrey;
			width: 700px;
			color: $slate;
			border: solid 1px $slate;
			border-bottom: none;

			.active {
				background: $green	;
				color: $white;
			}

			.suggestion {
				padding: 10px;
				border-bottom: solid 1px $slate;
			}
		}
	}

}

.hidden {
  display: none;
}

.button {
  cursor: pointer;
}

.new-device {
  height: 200px;
  width: 300px;
}

.wrap {
	width:960px;
	margin:0 auto;
}

//Typography
h1,
.js-toggleform.button,
.js-togglefilter.button
.sort {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
	display: inline-block;
	font-weight: normal;

	.logo {
		vertical-align: -60%;
		margin-right: 10px;
	}
}


h3 {
  font-size: 18px;
  margin:5px 0;
}

h4 {
  font-size:14px;
  margin:5px 0;
}


@import 'device-grid';


//Footer
.footer {
  clear: both;
}
