<select name='{{name}}' class='{{name}}'>
  {{#unless selectedValue}}
    <option value=''>-</option>
  {{/unless}}
  {{#each values}}
    <option value='{{.}}'  {{#is . ../selectedValue}}selected{{/is}}>{{.}}</option>
  {{/each}}
</select>
