<div class="wrap">
  <h2>FILTER DEVICES</h2>
  <table>
    <tr>
      <td>
        <input type="text" name="filter" class="filter-input js-filter"
          placeholder="name:* location:* formfactor:* os:* version:* checkedOutTo:* serial:* [isCheckedOut|isNotCheckedOut]"/>
      </td>
    </tr>
  </table>
</div>
