<div class="wrap">
  <h2>FILTER DEVICES</h2>
  <table>
    <tr>
      <td>
        <input type="text" name="filter" class="filter-input js-filter"
          placeholder="location:Boise formfactor:Tablet os:iOS version:7 isCheckedOut:true checkedOutTo:adam.m.clark"/>
      </td>
    </tr>
  </table>
</div>
