<h1>Device Registry <small class="js-toggle button">{{#if isFormHidden}}+{{else}}-{{/if}}</small></h1>
<div class="form {{#if isFormHidden}}hidden{{/if}}">
  <form>
    <textarea class="js-new-device"></textarea>
    <input type="submit" value="save"/>
  </form>
</div>
