<nav>
  <h1><img src="images/acquity-logo.jpg" alt="Acquity Mobile Lab" class="logo" />Acquity Group / Mobile Lab</h1>
  <small class="js-toggle button">{{#if isFormHidden}}<span class="green-circle plus">+</span> ADD DEVICE {{else}}<span class="green-circle minus">-</span> ADD DEVICE{{/if}}</small>
  <small class="sort"><span class="sort"><span class="menu circle"></span>SORT DEVICE</span></small>
</nav>
<div class="form {{#if isFormHidden}}hidden{{/if}}">
  <form>
    <table>
      <tr>
        <td>Name</td>
        <td><input type='text' name='name' class='js-name'/></td>
      </tr>
      <tr>
        <td>Location</td>
        <td class='js-location-container'></td>
      </tr>
      <tr>
        <td>OS</td>
        <td class='js-os-container'></td>
      </tr>
      <tr>
        <td>Version</td>
        <td><input type='text' name='version' class='js-version'/></td>
      </tr>
    </table>
    <input type="submit" value="save"/>
  </form>
</div>
