<nav>
  <h1><img src="images/acquity-logo.jpg" alt="Acquity Mobile Lab" class="logo" />Acquity Group / Mobile Lab</h1>
  <small class="js-toggle button">{{#if isFormHidden}}<span class="green-circle plus">+</span> ADD DEVICE {{else}}<span class="green-circle minus">-</span> ADD DEVICE{{/if}}</small>
  <small class="sort"><span class="sort"><span class="menu circle"></span>SORT DEVICE</span></small>
</nav>
<div class="form {{#if isFormHidden}}hidden{{/if}}">
  <div class="wrap">
    <h2>ADD DEVICE</h2>
    <form>
      <table>
        <tr>
          <td class="first"><label>NAME</label></td>
          <td><input type='text' name='name' class='js-name'/></td>
          <td class="first"><label>IMAGE URL</label></td>
          <td class="second"><input type='text' name='url' class='js-image-url'/></td>
          <td rowspan="4" class="save"><input type="submit" value="SAVE"/></td>
        </tr>
        <tr>
          <td><label>LOCATION</label></td>
          <td class='js-location-container'></td>
          <td class="first"><label>- OR -</label></td>
        </tr>
        <tr>
          <td><label>OS</label></td>
          <td class='js-os-container'></td>
          <td rowspan="2" class="first"><label>SELECT A DEVICE</label></td>
          <td rowspan="3"><input type="radio" name="device" value="ANDRIOD" /> <label>ANDRIOID</label><br />
          <input type="radio" name="device" value="iOS" /> <label>iOS</label><br />
          <input type="radio" name="device" value="WINDOWS" /> <label>WINDOWS</label></td>
        </tr>
        <tr>
          <td><label>VERSION</label></td>
          <td><input type='text' name='version' class='js-version'/></td>
        </tr>
      </table>
    </form>
  </div>
</div>
